body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.app {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, #0f2027, #1a1f22, #0d1519);
  color: white;
  padding: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow:auto;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-items > ul {
  font-size: 1.25rem;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-items > ul > li {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  z-index: 1;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-items > ul > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background: rgba(0, 209, 178, 0.2);
  border-radius: 60%;
  transition: transform 0.3s ease;
  z-index: -1;
}

.nav-items > ul > li:hover {
  color: #00d1b2;
}

.app-body {
  padding: 1rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

.linkedin-link {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.leetcode-link {
  color: orange;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.github-link,
.demo-link {
  color: #ff61a6;
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: color 0.3s ease-in-out;
  vertical-align: middle;
}

.github-link:hover,
.demo-link:hover {
  color: #ff4b1f;
}

p,
li {
  font-size: 1rem;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

.image-container {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.image-project{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.text-container {
  flex: 1;
  padding: 1rem 0rem 1rem 0rem;
}

.text-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.text-container p {
  font-size: 1.25rem;
  line-height: 1.6;
}

.skills-container {
  font-family: Arial, sans-serif;
  margin-bottom: 2em;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.skills-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.skills-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.skills-container th,
.skills-container td {
  padding: 1rem;
  border: 1px solid #ddd;
}

.skills-container th {
  background-color: lightgrey;
  color: #333;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.skills-container td {
  background-color: lightblue;
  color: #555;
  font-size: 0.9rem;
}

.skills-container tr:hover td {
  background-color: #f1f1f1;
}

.skills-container td:first-child {
  font-weight: bold;
  color: #333;
}

.section-container{
    margin: 1%;
}

.workexp-header{
  text-align: center;
}

.projects-header{
  text-align: center;
}

.work-experience{
  display: flex;
  flex-direction: column;
}

.experience-card{
  margin-bottom: 2em;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 6px white;
  padding: 1.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.projects-list{
  display: flex;
  flex-direction: column;
}

.project-card{
  margin-bottom: 2em;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 6px white;
  padding: 1.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-card:last-child {
  margin-right: 0;
}

.experience-card:last-child {
  margin-right: 0;
}

.project-description{
  font-size: 1.15rem;
  line-height: 1.5rem;
}

.responsibilities li{
  font-size: 1.15rem;
  line-height: 1.5rem;
}

.exp-title{
  font-size: 1.3rem;
}

.dates{
  font-size: 1.3rem;
}

@media (min-width: 1200px) {
  .about-me-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .work-experience{
    flex-direction: row;
    justify-content: space-between;
  }

  .experience-card{
    width: 50%;
    margin-top: 1em;
    margin-right: 2em;
  }

  .projects-list{
    flex-direction: row;
    justify-content: space-between;
  }

  .project-card{
    width: 50%;
    margin-top: 1em;
    margin-right: 2em;
  }

  .text-container{
    padding: 1rem;
  }

  .about-image {
    width: 90%;
  }
  
  .text-container h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .text-container p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

@media (min-width: 1600px) {
  .text-container{
    padding: 1rem;
  }

  .about-image {
    width: 90%;
  }

  .text-container h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  
  .text-container p {
    font-size: 2rem;
    line-height: 1.6;
  }
}

@media (min-width: 2000px) {
  .text-container{
    padding: 1rem;
  }

  .about-image {
    width: 90%;
  }

  .text-container h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .text-container p {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

@media (min-width: 2400px) {
  .text-container{
    padding: 1rem;
  }

  .about-image {
    width: 90%;
  }
  
  .text-container h2 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
  }
  
  .text-container p {
    font-size: 3rem;
    line-height: 1.6;
  }
}